
<div class="col-md-4 p-3">
    <div class="right-side col-md-12">
        <h3 class=" who text-center">who to follow</h3>
          <%= @users.count %>
          <div class="who-to">
          <% @users.each do |user| %>
            <div class="d-flex align-items-center bg-white p-2 justify-content-around my-3">
              <div>
              <%= link_to user_path(user) do %>
                 <%= image_tag user_profile_photo(user), alt: user.full_name, class: "img-round"%>
              <% end %>
              <%= link_to user_path(user), class:'user-path' do %>
                 <div><strong>@<%= user.name %></strong></div>
              <% end %>
                
              </div>
              <% unless current_user == user %>
                <% unless current_user.following?(user) %>
                  <%= form_for(current_user.active_relationships.build) do |f| %>
                    <div><%= hidden_field_tag :followee_id, user.id %></div>
                    <%= f.submit "Follow", class: "btn btn-primary my-button" %>
                  <% end %>
              <% end %>
             <%= link_to 'Unfollow', following_path(user), method: :delete, class: "btn btn-danger" if current_user.following?(user)%>
        <% end %>

            </div>
          <% end %>
          </div>
    </div>
</div>
